<div class="composer-container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="align-center">Ludwig van Beethoven</h3>
    </div>
  </div>

  <hr />

  <div class="row about-composer">
    <div class="col-sm-3">
      <img
        src="/src/assets/Joseph_Karl_Stieler's_Beethoven_mit_dem_Manuskript_der_Missa_solemnis.jpg"
      />
    </div>
    <div class="col-sm-9">
      <p>
        Ludwig van Beethoven was a German composer and pianist. He is one of the
        most revered figures in the history of Western music; his works rank
        among the most performed of the classical music repertoire and span the
        transition from the Classical period to the Romantic era in classical
        music. Beethoven's career has conventionally been divided into early,
        middle, and late periods. His early period, during which he forged his
        craft, is typically considered to have lasted until 1802. From 1802 to
        around 1812, his middle period showed an individual development from the
        styles of Joseph Haydn and Wolfgang Amadeus Mozart, and is sometimes
        characterized as heroic. During this time, he began to grow increasingly
        deaf. In his late period, from 1812 to 1827, he extended his innovations
        in musical form and expression.
        <em class="apa-reference"
          ><a
            href="https://en.wikipedia.org/wiki/Ludwig_van_Beethoven"
            target="_blank"
            >Source</a
          ></em
        >
      </p>
    </div>
  </div>
</div>
