<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column">
      <div>
        <img src="/src/assets/thomas-schweighofer-5dB9WGpJbFc-unsplash.jpg" />
      </div>

      <div>
        <em>
          Photo by Thomas Schweighofer on
          <a
            class="attribution-link"
            href="https://unsplash.com/photos/5dB9WGpJbFc"
            target="_blank"
            >Unsplash</a
          >
        </em>
      </div>
    </div>
  </div>

  <div fxFlex>
    <h1 class="blue">J.R.R. Tolkien</h1>

    <p>
      John Ronald Reuel Tolkein (1892-1973): writer, artist, scholar, linguist.
      Known to millions around the world as the author of The Lord of the Rings,
      Tolkien spent most of his life teaching at the University of Oxford where
      he was a distinguished academic in the fields of Old and Middle English
      and Old Norse. His creativity, confined to his spare time, found its
      outlet in fantasy works, stories for children, poetry, illustration and
      invented languages and alphabets.
    </p>

    <em
      >Biography by:
      <a
        href="https://www.tolkienestate.com/"
        target="_blank"
        class="attribution-link"
      ></a
    ></em>
  </div>
</div>
