/*Title: app.component.scss
/* Author: Mackenzie Lubben-Ortiz
/* Date: 16 April 2024
/* Description: app component scss */

.logo {
  margin-top: 5px;
}

.main-container {
  padding-top: 25px;
  width: 80%;
  margin: 0 auto
}
